{% extends 'base.html.twig' %} {% block title %}Hello HomeController!{% endblock
%} {% block body %}

<div class="container-fluid">
  <h1 class="mt-4">Home</h1>

  <h2>
    Welcome to the best poll application, start voting
    <a
      class="nav-link"
      href="/questions"
      style="display: inline-block; padding: 0"
      >now</a
    >
    !
  </h2>
  <h4>
    You can add question with an account  {% if not app.user %} ,
    <a
      class="nav-link"
      href="/register"
      style="display: inline-block; padding: 0"
      >register now. O</a>
      r use this dummy account :
      email : test@admin.fr
      password : admin </h4>
      {% endif %}
    <h4>It provides an interface to see all your questions and all your answers to
    poll.
  </h4>
</div>

{% endblock %}
