<footer class="py-4 bg-light mt-auto">
  <div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between small">
      <div class="text-muted">Copyright &copy; AMRAOUI Djamel 2021</div>

      <a href="https://github.com/DjamelAM/Poll">GitHub</a>
      &middot;
      <a href="https://www.linkedin.com/in/djamel-amraoui-65a355173/"
        >LinkedIn</a
      >
    </div>
  </div>
</footer>
